.SharedContentImage {
  width: 100%;
  overflow: hidden;
  height: 335px;
  &_container {
    position: relative;
  }

  &_fullSize {
    width: 100%;
    height: 100%;
  }

  &_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 65%, black 100%);
    z-index: 2;
  }

  &_text {
    position: absolute;
    bottom: 20px;
    left: 22px;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    z-index: 3;
  }

  &__image-zoom {
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__image-div {
    background-size: cover;
    background-position: center;
  }
  &:hover {
    .SharedContentImage__image-zoom {
      transform: scale(1.1);
    }
  }
}
