.u-flex--auto-height {
  display: flex !important;
  flex: auto !important;
}

.u-flex--column {
  display: flex !important;
  flex-direction: column !important;
}

.u-flex--row {
  display: flex !important;
  flex-direction: row !important;
}

.u-flex--space-between {
  display: flex !important;
  justify-content: space-between !important;
}
