.u-flex {
  &--auto-height {
    display: flex !important;
    flex: auto !important;
  }

  &--column {
    display: flex !important;
    flex-direction: column !important;
  }

  &--row {
    display: flex !important;
    flex-direction: row !important;
  }

  &--space-between {
    display: flex !important;
    justify-content: space-between !important;
  }
}
