.u-ml--auto {
  margin-left: auto !important;
}
.u-ml--0 {
  margin-left: 0 !important;
}
.u-ml--1 {
  margin-left: 0.25rem !important;
}
.u-ml--2 {
  margin-left: 0.5rem !important;
}
.u-ml--3 {
  margin-left: 0.75rem !important;
}
.u-ml--4 {
  margin-left: 1rem !important;
}
.u-ml--5 {
  margin-left: 1.25rem !important;
}
.u-ml--6 {
  margin-left: 1.5rem !important;
}
.u-ml--7 {
  margin-left: 1.75rem !important;
}
.u-ml--8 {
  margin-left: 2rem !important;
}
.u-ml--9 {
  margin-left: 2.25rem !important;
}
.u-ml--10 {
  margin-left: 2.5rem !important;
}

.u-mr--auto {
  margin-right: auto !important;
}
.u-mr--0 {
  margin-right: 0 !important;
}
.u-mr--1 {
  margin-right: 0.25rem !important;
}
.u-mr--2 {
  margin-right: 0.5rem !important;
}
.u-mr--3 {
  margin-right: 0.75rem !important;
}
.u-mr--4 {
  margin-right: 1rem !important;
}
.u-mr--5 {
  margin-right: 1.25rem !important;
}
.u-mr--6 {
  margin-right: 1.5rem !important;
}
.u-mr--7 {
  margin-right: 1.75rem !important;
}
.u-mr--8 {
  margin-right: 2rem !important;
}
.u-mr--9 {
  margin-right: 2.25rem !important;
}
.u-mr--10 {
  margin-right: 2.5rem !important;
}

.u-mt--auto {
  margin-top: auto !important;
}
.u-mt--0 {
  margin-top: 0 !important;
}
.u-mt--1 {
  margin-top: 0.25rem !important;
}
.u-mt--2 {
  margin-top: 0.5rem !important;
}
.u-mt--3 {
  margin-top: 0.75rem !important;
}
.u-mt--4 {
  margin-top: 1rem !important;
}
.u-mt--5 {
  margin-top: 1.25rem !important;
}
.u-mt--6 {
  margin-top: 1.5rem !important;
}
.u-mt--7 {
  margin-top: 1.75rem !important;
}
.u-mt--8 {
  margin-top: 2rem !important;
}
.u-mt--9 {
  margin-top: 2.25rem !important;
}
.u-mt--10 {
  margin-top: 2.5rem !important;
}

.u-mb--auto {
  margin-bottom: auto !important;
}
.u-mb--0 {
  margin-bottom: 0 !important;
}
.u-mb--1 {
  margin-bottom: 0.25rem !important;
}
.u-mb--2 {
  margin-bottom: 0.5rem !important;
}
.u-mb--3 {
  margin-bottom: 0.75rem !important;
}
.u-mb--4 {
  margin-bottom: 1rem !important;
}
.u-mb--5 {
  margin-bottom: 1.25rem !important;
}
.u-mb--6 {
  margin-bottom: 1.5rem !important;
}
.u-mb--7 {
  margin-bottom: 1.75rem !important;
}
.u-mb--8 {
  margin-bottom: 2rem !important;
}
.u-mb--9 {
  margin-bottom: 2.25rem !important;
}
.u-mb--10 {
  margin-bottom: 2.5rem !important;
}

.u-ma--auto {
  margin: auto !important;
}
.u-ma--0 {
  margin: 0 !important;
}
.u-ma--1 {
  margin: 0.25rem !important;
}
.u-ma--2 {
  margin: 0.5rem !important;
}
.u-ma--3 {
  margin: 0.75rem !important;
}
.u-ma--4 {
  margin: 1rem !important;
}
.u-ma--5 {
  margin: 1.25rem !important;
}
.u-ma--6 {
  margin: 1.5rem !important;
}
.u-ma--7 {
  margin: 1.75rem !important;
}
.u-ma--8 {
  margin: 2rem !important;
}
.u-ma--9 {
  margin: 2.25rem !important;
}
.u-ma--10 {
  margin: 2.5rem !important;
}

.u-mx--auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.u-mx--0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.u-mx--1 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}
.u-mx--2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}
.u-mx--3 {
  margin-left: 0.75rem !important;
  margin-right: 0.75rem !important;
}
.u-mx--4 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
.u-mx--5 {
  margin-left: 1.25rem !important;
  margin-right: 1.25rem !important;
}
.u-mx--6 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}
.u-mx--7 {
  margin-left: 1.75rem !important;
  margin-right: 1.75rem !important;
}
.u-mx--8 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}
.u-mx--9 {
  margin-left: 2.25rem !important;
  margin-right: 2.25rem !important;
}
.u-mx--10 {
  margin-left: 2.5rem !important;
  margin-right: 2.5rem !important;
}

.u-my--auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.u-my--0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.u-my--1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}
.u-my--2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
.u-my--3 {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important;
}
.u-my--4 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.u-my--5 {
  margin-top: 1.25rem !important;
  margin-bottom: 1.25rem !important;
}
.u-my--6 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.u-my--7 {
  margin-top: 1.75rem !important;
  margin-bottom: 1.75rem !important;
}
.u-my--8 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
.u-my--9 {
  margin-top: 2.25rem !important;
  margin-bottom: 2.25rem !important;
}
.u-my--10 {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
}
