//.u-overflow {
//  &__hidden {
//    overflow: hidden !important;
//  }
//
//  &__scroll {
//    overflow: scroll !important;
//  }
//
//  &__auto {
//    overflow: auto !important;
//  }
//}

.u-overflow--hidden {
  overflow: hidden !important;
}

.u-overflow--scroll {
  overflow: scroll !important;
}

.u-overflow--auto {
  overflow: auto !important;
}

.u-overflow--visible {
  overflow: visible !important;
}
