.u-center {
  &--x {
    display: flex !important;
    align-items: center !important;
  }

  &--y {
    display: flex !important;
    justify-content: center !important;
  }
}

.u-end {
  &--x {
    display: flex !important;
    align-items: flex-end !important;
  }

  &--y {
    display: flex !important;
    justify-content: flex-end !important;
  }
}
