.u-text--white {
  color: #ffffff !important;
}

.u-text--black {
  color: #000000 !important;
}

.u-text--gray {
  color: #ccc !important;
}

.u-text--align-start {
  text-align: start !important;
}

.u-text--align-center {
  text-align: center !important;
}

.u-text--align-end {
  text-align: end !important;
}

.u-text--font-10 {
  font-size: 10px !important;
}

.u-text--font-11 {
  font-size: 11px !important;
}

.u-text--font-12 {
  font-size: 12px !important;
}

.u-text--font-14 {
  font-size: 14px !important;
}

.u-text--font-16 {
  font-size: 16px !important;
}
