.u-text {
  § &--white {
    color: #ffffff !important;
  }
  &--black {
    color: #000000 !important;
  }

  &--gray {
    color: #ccc !important;
  }

  &--align-start {
    text-align: start !important;
  }

  &--align-center {
    text-align: center !important;
  }

  &--align-end {
    text-align: end !important;
  }
}

.u-text--font-10 {
  font-size: 10px !important;
}

.u-text--font-11 {
  font-size: 11px !important;
}

.u-text--font-12 {
  font-size: 12px !important;
}

.u-text--font-14 {
  font-size: 14px !important;
}

.u-text--font-16 {
  font-size: 16px !important;
}
