@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

@import './utility/margins';
@import './utility/colors';
@import './utility/text';
@import './utility/sizes';
@import './utility/positions';

@import "./utility/features/dragAndDrop";

html,
body {
  height: 100%;
  margin: 0;
}

.main-content {
  display: flex;
  flex-grow: 1;
}

@keyframes spinner {
  0% {
    stroke-dashoffset: 125.6;
  }
  to {
    stroke-dashoffset: 0;
  }
}
