.sharedArticle {
  position: relative;

  &__heading {
    @media screen and (max-width: 600px) {
      padding-right: 80px;
    }
  }

  &__height {
    height: 351px !important;
    @media screen and (max-width: 1024px) {
      height: 210px !important;
    }
  }

  &__font_small {
    font-size: 0.75rem !important;
  }

  &__font_normal {
    font-size: 1rem !important;
  }

  &__font_large {
    font-size: 1.3125rem !important;
  }

  &__font_extraLarge {
    font-size: 1.5rem !important;
  }

  &__mobileSlider {
    width: 100%;
  }

  &__sliderArrowNext,
  &__sliderArrowPrev {
    position: absolute !important;
    color: white !important;
    transform: translateY(-50%);
    top: 35px;
    padding: 3px !important;
    min-width: 0 !important;
  }

  &__sliderArrowPrev {
    right: 40px !important;
  }

  &__sliderArrowNext {
    right: 0 !important;
  }
}
