.sharedMainLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__main {
    padding-left: 0;
    display: flex;
    flex: auto;
    flex-direction: column;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;

    @media screen and (max-width: 1024px) {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
  }
}

.mainContainer {
  display: flex !important;
  flex-direction: column !important;
  flex: auto !important;
  padding-left: 60px !important;
  padding-right: 60px !important;

  @media screen and (max-width: 1024px) {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
